/* LOGIN FORM */

.login {
    background: #050717;
    height: auto;
}

.login #header {
    height: auto;
    padding: 15px 16px;
    justify-content: center;
    background: #0e1726;
    border-bottom: 1px solid #3b3f5c;

}

.login #header h1 {
    font-size: 18px;
}

.login #header h1 a {
    color: #fff;
    font-weight: 500;
}

.login #content {
    padding: 20px 20px 0;
}

.login #container {
    background: #0e1726;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12), 0 3px 5px -1px rgba(0,0,0,.2);
    border-radius: 6px;
    color: #fff;
    overflow: hidden;
    width: 28em;
    min-width: 300px;
    margin: 100px auto;
    height: auto;
}

.login #content-main {
    width: 100%;
}

.login .form-row {
    padding: 4px 0;
    float: left;
    width: 100%;
    border-bottom: none;
}

.login .form-row label {
    padding-right: 0.5em;
    line-height: 2em;
    font-size: 1em;
    clear: both;
    color: #e0e6ed;
}

.login .form-row #id_username, .login .form-row #id_password {
    clear: both;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    background: transparent;
    border: 1.5px solid #3b3f5c;
    color: #fff;
}

.login span.help {
    font-size: 10px;
    display: block;
}

.login .submit-row {
    clear: both;
    padding: 15px 0;
    margin: 0;
    border: none;
    background: none;
    text-align: left;
}
.login .submit-row input {
    width: 100%;
    background: #1b55e2;
    transition: all .2s ease;
}
.login .submit-row input:hover{
    background: #1b55e2;
    box-shadow: 0 10px 20px -10px rgba(27,85,226,.59);
}

.login .password-reset-link {
    text-align: center;
}
